/* .open-sans-<uniquifier> {
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } */


  * {
    /* background-color: red; */
    padding: 0;
    margin: 0;
    font-family: "Open Sans", system-ui;
    font-size: large;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 16vh;
    padding: 0 3rem;
    align-items: center;
}

nav div,
nav div ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.list{
    display: none;
}
.hamburg{
    display: none;
}
.showdesign{
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    height: 100%;
}
@media (max-width: 911px) {
    .list{
        display: none;
    }
    nav div ul{
        display: none;
    }
    .hamburg{
        display: block;
    }
}

/* home page  */

.homepage{
    height: calc(100vh - 40vh);
    padding: 0 3rem;
    display: flex;
    align-items: center;
}
.homepage div{
    flex: 1;
}
.item{
    margin: .7rem 0;
}
.shopNowBtn{
    padding: .7rem 2rem;
    background-color: #8BC34A;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.heading{
    font-size: 3rem;
}
.paragraph{
    opacity: 80%;
}
@media(max-width: 1200px){
    .homepage{
        flex-direction: column;
    }
}

/* carts  */
.carts{
    color: white;
    background-color: #111111;
    display: flex;
    height: 23vh;
    margin-top: 5rem;
    align-items: center;
    padding: 0 3rem;
    justify-content: space-between;
    gap: 1.5rem;
}
.carts div{
    background-color: #303030;
    padding: 2rem;
    flex: 1;
}
@media(max-width: 1200px){
    .carts{
        margin-top: 10rem;
    }
}
@media(max-width: 878px){
    .carts{
        margin-top: 14rem;
    }
}
@media(max-width: 781px){
    .carts{
        flex-direction: column;
        height: 60vh;
    }
    .carts div{
        width: 100%;
        margin: 1rem 0 0 0;
    }
}

.getintouch{
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}